<div class="jumbotron">
	<h2 class="text-muted">Sobre nós</h2>  <br><br>
	<p>No sétimo semestre do curso de engenharia mecânica da Escola Politécnica da USP, nos foi dado o desafio de criar um produto que ajudasse na redução do consumo de água em residências.</p> <br><br><br>

	<p>Foi assim que surgiu a idéia de criarmos a Upee e revolucionar o mercado de mictórios, com a inserção desse produto para o público feminino.</p>
<br><br><br>
	<div class="suave center">
		<img src="/images/poli.jpg" alt="consumo de agua california">
	</div>
</div>