<div class="jumbotron">
	<h2 class="text-muted">Informações técnicas</h2> <br><br><br>

	<p> Deseja saber se nosso produto cabe em seu estabelecimento? Abaixo encontram-se dimensões de diversas vistas do mictório, bem como seu design final.</p>
<br><br><br><br>
	
	<p> Dimensões </p>
	<div class="banner">
		<img src="/images/lateral.png" alt="consumo de agua california">
	</div>   <br><br><br><br>
	<div class="banner">
		<img src="/images/dimensoes.png" alt="consumo de agua california">
	</div><br><br><br><br>
	<div class="banner">
		<img src="/images/traz.png" alt="consumo de agua california">
	</div><br><br><br><br>

	<p> Design do produto visto de frente </p>
	<div class="banner">
		<img src="/images/frente.jpg" alt="consumo de agua california">
	</div><br><br><br><br>
	<p> Design lateral do produto </p>
	<div class="banner">
		<img src="/images/esquerda.jpg" alt="consumo de agua california">
	</div><br><br><br><br>
	<p> Mictório visto de longe </p>
	<div class="banner">
		<img src="/images/longe.jpg" alt="consumo de agua california">
	</div><br><br><br>

	<p>Lista de peças e materiais, excluindo a válvula e suas ligações: <br><br>

- 12 – 14 kg de porcelana (argila e água);<br><br>

- 4 x parafusos M8;<br><br>

- 4 x buchas para parafuso M8;<br><br>

- 4 x arruelas de metal para parafuso M8;<br><br>

- 4 x arruelas de borracha para parafuso M8;<br><br>

- 4 x capa protetora para parafuso M8 decorativa.<br><br>

- 1 x espude de ligação de 50mm</p>
</div>
