<div class="jumbotron">
	<h2 class="text-muted">Quais são as vantagens de usar mictório?</h2>
	<br>
	<p>O gráfico abaixo, feito pelo governo da Califórnia (e disponível na aba "downloads" acima), nos mostra o uso de água no estado da Califórnia em 2005. </p>
	<br><br>
	<div class="banner">
		<img src="/images/consumo1.png" alt="consumo de agua california">
	</div> <br><br><br>
	<p>Podemos observar que o uso de água dentro de casa tem uma expressiva faixa no total de água consumida pelo Estado, e dentro do consumo interno de casa o maior gasto de água encontra-se nas descargas realizadas pelos vasos sanitários. Esses dados nos mostram a importânica de tentar optimizar o gasto de água. </p><br><br>
	<p> Esses dados revelam a importância de se achar soluções para a diminuição deste consumo dos vasos sanitários, e é isso que a Upee está fazendo! </p>

	<br><br><br><br><br>
	<h2 class="text-muted">Você sabia?</h2>
	<p>Cada vez que damos descarga de um vaso sanitário gastamos cerca de 8 litros de água! E isso se o seu vaso sanitário for de um modelo novo, com caixa acoplada e descarga dupla, modelos antigos chegam a gastar até 15 litros de água em uma descarga!</p>  <br><br><br><br>

	<div class="suave"> 
		<img src="/images/consumo3.jpg" alt="consumo de agua california">
	</div>
	<br><br><br><br>

	<p>Para termos uma idéia melhor do que significa esta quantidade de água, vamos comparar com galões de água. Cada vez que você aperta o botão da sua descarga você consome praticamente um galão inteiro de água!</p> <br><br><br><br>

	<div class="suave"> 
		<img src="/images/consumo4.jpg" alt="consumo de agua california">
	</div>
</div>