<div class="jumbotron">
  <h2 class="text-muted">Pré-venda</h2>
  <p> Gostaria de comprar nosso produto? Preencha os campos abaixo que entraremos em contato! </p>
<form>

    <fieldset class="form-group">
    <label for="exampleInputEmail1">Nome</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Escreva seu nome">
  </fieldset>

  <fieldset class="form-group">
    <label for="exampleInputEmail1">E-mail para contato</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    <small class="text-muted">Através deste email que entraremos em contato.</small>
  </fieldset>

  <form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Celular</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Número de celular">
  </div>

  <form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">CEP</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="CEP">
    <small class="text-muted">Usaremos seu CEP para calcular o valor do frete.</small>
  </div>

  <form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Quantos mictórios deseja adquirir?</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Número de mictórios">
  </div>

  <fieldset class="form-group">
    <label for="exampleTextarea">Aqui você pode escrever observações que achar importante!</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </fieldset>




  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

</div>